#sidebar {
    display: block;
    @media (min-width: $screen-md-min) { display: block; }

    height: 100%;
    background: $brand-primary;
    color: $lighter;
    padding: 0 30px;
    &:hover {
        width: 90%;
        & + #content {
            margin-left: 90%;
        }
    }
}

#branding {
    margin: 40px auto;
    @media (min-width: $screen-lg-min) { margin: 80px auto; }
    max-width: $sidebar-max-width;
    text-align: center;

    h1 {
        margin: 0 0 10px;
        text-transform: uppercase;
    }
    .strapline {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 0.8em;
        line-height: 1.4em;
        text-transform: uppercase;
        color: lighten($brand-primary, 50%);
    }
}

#trips {
    margin: 0 auto 40px;
    max-width: $sidebar-max-width;
    @include clearfix;

    .trip {
        margin-bottom: 20px;
        padding: 0 10px;
        @media (min-width: $screen-lg-min) {
            margin-bottom: 30px;
            padding: 0 15px;
        }

        &.current {
            opacity: 0.75;
        }
    }
}
