@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_variables";

body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
}

#header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 20px;
    background: $lighter;
}

#sidebar {
    position: fixed;
    height: 100%;
    background: $brand-primary;
    padding-top: 20px;
}

#content {
    float: right;
    padding-top: 20px;
}

.post {
    margin: 0 0 50px;

    h1 {
        margin: 0;        
        font-size: 2em;
        font-weight: 800;
        text-transform: uppercase;
        color: $brand-primary;
    }
    .meta-data {
        color: $middle;
        margin: 0 0 10px;
    }
}
