@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin fullheight {
    /* Forces element to fill the full height of the viewport. */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin verticalcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center {
    align-items: flex-start;
}