body.blog.index {
    > .container-fluid,
    > .container-fluid > .row,
    > .container-fluid > .row > #content { min-height: 100%; }

    #content {
        background: #fff;
        min-height: 100%;
    }

    .posts {
        padding-top: 2em;
        @include clearfix;
    }

    .post {
        margin: 0 0 2em;
        padding: 0 15px 2em;
        border-bottom: 2px solid $lighter;
        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }

        & > .content-wrap {
            max-width: $content-max-width;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: $screen-md-min) {
                margin: 0 2em;
            }
            @media (min-width: $screen-lg-min) {
                margin-left: 8.33%;
            }

            h1.title {
                margin-top: 0;
                font-size: 2em;
                font-weight: 700;
                color: lighten($brand-primary, 35%);
            }

            .meta-data {
                font-family: 'Open Sans', sans-serif;
                font-size: 0.8em;
                color: $middle;
                margin: 0.25em 0 1.5em;
            }
        }
    }

}