body.editor.dashboard {
	.table {
		th {
			font-family: 'Open Sans';
			padding: 0.5em;
		}

		td { padding: 0 0.5em; }

		tr:hover td {
			transition: background 0.25s ease;
			background: lighten($brand-primary-saturated, 70%);
		}

		td > a:not(.btn) {
			display: block;
			width: 100%;
			padding: 0.5em 0;
		}

		.actions a.btn,
		.actions form {
			display: inline-block;
		}
	}
}