body.editor {
	#header {
		font-family: 'Montserrat', sans-serif;
		background: $brand-primary;
		color: $lighter;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-bottom: 1em;

		h1 {
			font-weight: normal;
			margin: 0;
			float: left;
		}

		a {
			color: $light;
			&:hover { color: $lighter; }
			&:active, &:focus { color: $middle; }
		}

		.actions {
			float: right;
			border: 1px solid lighten($brand-primary, 10%);
			padding: 0 1em;
			margin-right: 1em;


			a {
				text-decoration: underline;
				font-size: 0.8em;
			}
		}
	}
}

body.editor.post.edit {
	input#title {
		transition: border 0.25s ease;
		width: 100%;
		border: 0;
		border-bottom: 3px solid $light;
		font-family: 'Montserrat', sans-serif;
		&:focus { border-bottom: 3px solid $brand-primary; }
	}

	.form-group {
		margin-bottom: 1em;
	}
}

#markdown-editor textarea#content {
	width: 100%;
	height: 500px;
	padding-right: 1em;
	border: 0;
	font-family: monospace;
	font-size: 0.7em;
	line-height: 1.6em;
}

#markdown-help { display: none; }
.markdown-help-link {
	display: block;
	float: right;
	cursor: help;
	font-size: 0.8em;
}
#markdown-editor .popover {
	width: 100%;
	margin-bottom: 1.5em;
	h2:first-child { margin-top: 0.25em; }
}
