.btn {
    background: none;
    border: 0;
    transition: color 0.25s ease-in-out,
                background-color 0.25s ease-in-out,
                text-shadow 0.25s ease-in-out,
                box-shadow 0.25s ease-in-out,
                transform 0.15s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    border-radius: $border-radius;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
        color: lighten($lighter, 50%);
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
        background: lighten($brand-primary, 25%);
        outline: none;
    }
    &:active {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        transform: translateY(0.05em);
        background: $brand-primary;
        outline: none;
    }
}
.btn-primary {
    background-color: lighten($brand-primary, 20%);
    color: $lighter;
}
.btn-success {
    background-color: $brand-success;
    color: $lighter;
}
.btn-info {
    background-color: $brand-info;
    color: #fff;
}
.btn-danger {
    background-color: $brand-danger;
    color: $lighter;
}

.nopadding {
    padding: 0;
}

input, textarea {
    &:focus { outline: none; }
}

.popover,
.popover-content {
    max-width: none !important;
}