html, body { height: 100%; }

body {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    color: $darker;
    font-size: 16px;
    line-height: 22px;
    @media (min-width: $screen-sm-min) {
        font-size: 18px;
        line-height: 26px;
    }
    @media (min-width: $screen-md-min) {
        font-size: 20px;
        line-height: 30px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

a {
    transition: color 0.25s ease;
    &:hover { text-decoration: none; }
    &:active { text-decoration: none; }
    &:focus { text-decoration: none; }
}

.menu-button {
    display: block;
    @media (min-width: $screen-md-min) { display: none; }
    z-index: 10;
    padding: 1em;
    cursor: pointer;
    &::before {
        transition: color 0.25s ease;
        font-size: 40px;
        line-height: 1em;
        color: lighten($brand-primary, 20%);
    }

    &:hover {
        &::before {
            color: $brand-primary-saturated;
        }
    }

    &.open {
        position: fixed;
        top: 0;
        right: 0;
        &::before {
            text-shadow: 0 0 30px rgba(255, 255, 255, 1),
                0 0 15px rgba(255, 255, 255, 0.75),
                0 0 10px rgba(255, 255, 255, 0.5),
                0 0 5px rgba(255, 255, 255, 0.25),
                -1px -1px 30px rgba(255, 255, 255, 1);
        }
    }

    &.shut {
        position: absolute;
        top: 0;
        right: 0;
        &::before {
            color: lighten($brand-primary, 33%);
            @media (min-width: $screen-md-min) { color: lighten($brand-primary, 15%); }
        }
        &:hover::before {
            color: lighten($brand-primary, 66%);
        }
    }
}