#sidebar {
    @include fullheight;
    @include verticalcenter;
    position: fixed;
    padding: 0 30px;
    color: $lighter;
    transition: background-color 1s ease;
    background: $brand-primary;

    h2 {
        white-space: nowrap;
        margin: 0 0 10px;
        font-size: 0.8em;
        font-weight: 400;
    }

    a {
        color: lighten($brand-primary, 33%);
        &:hover { color: lighten($brand-primary, 66%); }
        &:active { color: darken($brand-primary, 66%); }
    }
}

#sidebar:hover,
.slideout-open #sidebar {
    background: $brand-primary-saturated;
}

#branding {
    margin: 0 auto 40px;
    max-width: $sidebar-max-width;
    text-align: center;

    h1 {
        font-size: 2.5em;
        margin: 0 0 10px;
    }
    .strapline {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
        color: lighten($brand-primary, 33%);
    }
}

#trips {
    margin: 0 auto 10px;
    max-width: $sidebar-max-width;
    @include clearfix;

    .trip {
        margin-bottom: 20px;
        padding: 0 10px;
        @media (min-width: $screen-lg-min) {
            margin-bottom: 30px;
            padding: 0 15px;
        }

        img { transition: transform .5s ease; }
        &:hover img {
            transform: scale(1.1);
        }
    }
}

#social-profiles {
    margin: 40px auto 0;
    text-align: center;
    @include clearfix;
    
    .social-profile {
        display: inline-block;
        width: 1.5em;
        margin-right: 0.5em;
        &:last-child { margin-right: 0; }
        &::before { font-size: 1.5em; }
    }
}
